body{
    margin: 0;
}

.wrapper{
    max-width: 1440px;
    /* margin: auto; */
align-items: center;
justify-content: center;
box-sizing: border-box;
display: flex;
flex-direction: column;
}

h1{
    color: blue;
    text-align: center;
}


h2{
    background-color: aquamarine;
    color: blue;
    text-align: center;
}


.branch-main {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 20px;
}

h3{
    margin-top: 60px;
}

.button{
    background-color: rgb(56, 56, 131);
    border-radius: 8px;
    padding: 0px 80px;
    color: white;
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    width: fit-content;
}