body{
    margin: 0;
}

.wrapper{
    max-width: 1440px;
    /* margin: auto; */
align-items: center;
justify-content: center;
box-sizing: border-box;
display: flex;
flex-direction: column;
}

h1{
    color: blue;
    text-align: center;
}


h2{
    background-color: aquamarine;
    color: blue;
    text-align: center;
}


.branch-main {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin-top: 20px;
}

h3{
    margin-top: 60px;
}

.button{
    background-color: rgb(56, 56, 131);
    border-radius: 8px;
    padding: 0px 80px;
    color: white;
    margin-top: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    width: fit-content;
}

footer{
    background-color: rgb(137, 153, 255);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 30px 30px;
    margin-top: 40px;
}

footer nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
}

footer nav a{
    text-decoration: none;
    color:  rgb(56, 56, 131);
    padding: 10px 15px;
    background-color: white;
    border-radius: 8px;
    width: 20%;
text-align: center;
}

footer nav a:hover{
    background-color: rgb(56, 56, 131);
    color: white;
}